section{
    font-family:"monaco";
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
h1{
    color:coral;
    text-transform:uppercase;
    font-size:50px;
    border:2px dotted #ccc;
    padding:10px;
}
p{
    letter-spacing:2px;
    word-spacing:5px;
    font-weight:700;
}
a{
    color:white;
    background-color:#333;
    text-decoration:none;
    padding:15px;
    margin:40px;
    box-shadow:5px 5px 3px darkgreen;
}
a:hover{
    background-color:coral;
    color:darkgreen;
    box-shadow:none;
}
h2{
    color:blue;
    background-color:yellow;
    border:1px solid black;
}