body{
    background-color:#ffffff;
}
h2{
    color:magenta;
    background-color:black;
}
h3{
    color:indigo;
    background-color:olive;
}
button{
    color:red;
    background-color:chartreuse;
}
p{
    color:white;
    background:hotpink;
}
div{
    /* width:30px;
    height:30px; */
    color:rgb(1,1,1);
}
